<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Presentazione a Schermo Intero</title>
    <style>
        body, html {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
        iframe {
            width: 100%;
            height: 100%;
            border: none;
        }
    </style>
</head>
<body>
    <iframe src="https://1drv.ms/p/c/905d99d1f327a80e/IQRfPpN1lytvSajlbenP0_RNARdyX3FBNUmsO7DJVFJ38Hs?action=embedview&wdAr=1.7777777777777777&wdMode=3"></iframe>
</body>
</html>
